.smll{
	 width:200px;
	background-color:#547df0;
	margin-top:50px;
	float:left;
	
	margin:3px 20px 20px 80px;
	
	
}
img{ 
	width:120px;
	margin:auto;
	margin-top:20px;
	
}
h2{
	 width : 100px;
	 color:solid black;
	 margin-top:20px;
	 margin-left:30px;
}
	body {
  font-family:cursive;
  background-color:#f7daf4;
  margin: 0;
  padding: 20px;
  text-align: center;
}














[